.y-button:hover {
    background-image: url("project://database/Assets/!/UI/Assets/YButtonHover.png?fileID=2800000&guid=bbd6ade600effc040a04525a1b3883f9&type=3#YButtonHover");
}

.r-button:active {
    background-image: url("project://database/Assets/!/UI/Assets/RButtonPressed.png?fileID=2800000&guid=e2d4b5ed459dc0340ae8843a6d3ee991&type=3#RButtonPressed");
}

.y-button:active {
    background-image: url("project://database/Assets/!/UI/Assets/YButtonPressed.png?fileID=2800000&guid=9847c58d4963e6c4da356e7c38057931&type=3#YButtonPressed");
}

.font-barlow-bold {
    -unity-font-definition: url("project://database/Assets/!/Fonts/Barlow/Barlow-Bold.ttf?fileID=12800000&guid=b6fda5bf6e56b194da1cfd4a2a2dde5c&type=3#Barlow-Bold");
}

.y-button:disabled {
    background-image: url("project://database/Assets/!/UI/Assets/YButtonDisabled.png?fileID=2800000&guid=d72597518ea26574898be444bb2bb7f9&type=3#YButtonDisabled");
    color: rgb(69, 69, 69);
}

.y-button {
    background-image: url("project://database/Assets/!/UI/Assets/YButtonNormal.png?fileID=2800000&guid=8780cf7d0b89d134caad4cab9d7a469f&type=3#YButtonNormal");
    -unity-slice-type: sliced;
    color: rgb(173, 62, 2);
    font-size: 32px;
    -unity-font-definition: url("project://database/Assets/!/Fonts/Barlow/Barlow-Bold.ttf?fileID=12800000&guid=b6fda5bf6e56b194da1cfd4a2a2dde5c&type=3#Barlow-Bold");
    align-self: center;
    width: 360px;
    height: 84px;
}

.g-button {
    background-image: url("project://database/Assets/!/UI/Assets/GButtonNormal.png?fileID=2800000&guid=69fcbd44a4351ef4a9fe45d958c6ce80&type=3#GButtonNormal");
    -unity-slice-type: sliced;
    color: rgb(3, 49, 9);
    font-size: 32px;
    -unity-font-definition: url("project://database/Assets/!/Fonts/Barlow/Barlow-Bold.ttf?fileID=12800000&guid=b6fda5bf6e56b194da1cfd4a2a2dde5c&type=3#Barlow-Bold");
    align-self: center;
    width: 360px;
    height: 84px;
}

.g-button:hover {
    background-image: url("project://database/Assets/!/UI/Assets/GButtonHover.png?fileID=2800000&guid=06ce44ce133715445a23be6098ff488b&type=3#GButtonHover");
}

.g-button:disabled {
    background-image: url("project://database/Assets/!/UI/Assets/GButtonDisabled.png?fileID=2800000&guid=3001967d1ee3952469e2232512649a3e&type=3#GButtonDisabled");
    color: rgb(69, 69, 69);
}

.g-button:active {
    background-image: url("project://database/Assets/!/UI/Assets/GButtonPressed.png?fileID=2800000&guid=f2951e760cfc2404fb05d3584b77bde9&type=3#GButtonPressed");
}

.font-barlow-regular {
    -unity-font-definition: url("project://database/Assets/!/Fonts/Barlow/Barlow-Regular.ttf?fileID=12800000&guid=6a4bdc0fad33a1040a0b506eb3b3ffd8&type=3#Barlow-Regular");
}

.r-button:disabled {
    background-image: url("project://database/Assets/!/UI/Assets/RButtonDisabled.png?fileID=2800000&guid=14bc191143705bd40b558366efd66f7a&type=3#RButtonDisabled");
    color: rgb(69, 69, 69);
}

.r-button:hover {
    background-image: url("project://database/Assets/!/UI/Assets/RButtonHover.png?fileID=2800000&guid=89d12562835c8f74d999357093d996e2&type=3#RButtonHover");
}

.r-button {
    background-image: url("project://database/Assets/!/UI/Assets/RButtonNormal.png?fileID=2800000&guid=9a635da8d6720e44784d8cfe0a6a4f04&type=3#RButtonNormal");
    -unity-slice-type: sliced;
    color: rgb(92, 8, 8);
    font-size: 32px;
    -unity-font-definition: url("project://database/Assets/!/Fonts/Barlow/Barlow-Bold.ttf?fileID=12800000&guid=b6fda5bf6e56b194da1cfd4a2a2dde5c&type=3#Barlow-Bold");
    align-self: center;
    width: 360px;
    height: 84px;
}
