:root {
}

.navigationButton {
    width: 128px;
    height: 128px;
    -unity-font-definition: url("project://database/Assets/!/Fonts/Ropa_Sans/RopaSans-Regular.ttf?fileID=12800000&guid=fe4c67fea5eb61d48baee455d4557852&type=3#RopaSans-Regular");
    font-size: 128px;
    background-image: url("project://database/Assets/!/UI/Assets/YButtonNormal.png?fileID=21300000&guid=8780cf7d0b89d134caad4cab9d7a469f&type=3#YButtonNormal");
}
