:root {
}

.ScoreEntry {
    flex-direction: row;
}

.NameColumm {
    flex-grow: 0;
    width: 50%;
}

.ScoreColumm {
    flex-grow: 1;
    width: 40%;
}

.RankColumm {
    flex-grow: 1;
    width: 10%;
}
