:root {
}

.answers {
    flex-direction: row-reverse;
    font-size: 32px;
    -unity-text-align: upper-left;
    justify-content: center;
    align-self: auto;
    align-content: auto;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
}
